# Ignore log files and temporary files
*.log
*.tmp

# Ignore environment variable files and local configuration
.env
config.local.json

# Ignore node_modules and build directories
node_modules/
dist/
build/
*.DS_Store

# Ignore heavy files
Exemplo_Londres/London/full_listings.csv
